<br><br><br><br>
<h1 class="text_center"><div class="gara"> ご購入ありがとうございました。発送までしばらくお待ちください。
<div class="padding"><br><br><br><br></div>
<div class="text_center"><%= link_to "マイページ", users_path %>　　　<%= link_to"戻る", items_path %></div></div></h1>