/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'slick';
@import 'slick-theme';

*{
  margin: 0px;
  padding:0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.container {
  min-height: 100%;
  position: relative;
  width: 100%;
  height: 100%;
}
.container_all {
  width: 100%;
  margin: 0 auto;
  padding:12px 20px;
}

.applicaion-users-header {
  background-color: #F08080;
  color: #fff;
  height: 170px;
  padding: 0 60px;
}
.gara{
  font-family: 'EB Garamond', serif;
  font-brand: 24px;
}
.applicaion-users-footer {
  background-color: #F08080;
  text-align: center;
  color: #fff;
  height: 40px;
  font-brand: 10px;
  line-height: 30px;
  width: 100%;
  margin-top: auto;
  overflow: hidden;
}
.header-logo {
  float: left;
  font-brand: 60px;
  font-family: 'Nothing You Could Do', cursive;
  margin: 0 30px;
}
.header-logo2 {
  padding-top: 20px;
  font-brand: 60px;
  font-family: 'Nothing You Could Do', cursive;
  margin: 0 30px;
  float:left;
}
.applicaion-users-header a {
    color: #fff;
    text-decoration: none;
  }
.applicaion-users-header a:hover {
    color: #000080;
    text-decoration: none;
  }

header {
  width: 100%;
  height: 100px;
}

header ul{
  list-style: none;
}
header li{
  display: inline;
  float: right;
}

.header-menu li{
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding-top: 40px;
}
.header-menu li::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #000080;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.header-menu li:hover::after {
  bottom: -4px;
  opacity: 1;
  color: #000080;
  visibility: visible;
}
.view{
  width: 80%;
  margin:0 auto;
}
.header-menu {
  float: right;
  margin: 0 30px;
  position: relative;
  top: 15px;
}
.header-search {
  float: left;
  position: relative;
  top: 12px;
}
.heading{
  font-brand: 40px;
  font-family: 'Nothing You Could Do', cursive;
}

.applicaion-admins-header {
  background-color: gray;
  color: #fff;
  height: 170px;
}
.applicaion-admins-footer {
  background-color: gray;
  text-align: center;
  color: #fff;
  height: 40px;
  font-brand: 10px;
  line-height: 30px;
  width: 100%;
  margin-top: auto;
  overflow: hidden;
}
.applicaion-admins-header a {
    color: #fff;
    text-decoration: none;
  }

.applicaion-admins-header a:hover {
    color: pink;
    text-decoration: none;
  }


/* 検索ボックス */
.header-search {
  float: left;
  position: relative;
  top: 12px;
}

dl.searchbox{
  width: 350px;
  margin-left: auto;
  position:relative;
  background-color:#fff;
  border-radius:6px;
}

dl.searchbox dt input{
  height:36px;
  line-height:30px;
  background:none;
  padding-left: 80px
}
dl.searchbox dd{
  position:absolute;
  top:0px;
  right:0px;
  width:30%;
}
.search-btn{
  display:block;
  background:black;
  width:100%;

  height:36px;
  line-height:36px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}
.header-search {
  float: right;
  position: relative;
  top: 12px;
}
.memopad {
 margin: 36px auto;
 padding: 1.5em;
 width: 80%;
 border: 1px solid #F08080;
 background-color: #fff;
 box-shadow: 5px 5px 5px #999;
 border-radius: 15px;/*角の丸み*/
}
.memopad p {
    padding: 15px 20px;
    margin: 0;
}
.memopad2 {
 margin: 36px auto;
 padding: 1.5em;
 width: 80%;
 background-color: #fff;
 box-shadow: 5px 5px 5px #999;
 border-radius: 15px;/*角の丸み*/
}


