// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-box{
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  margin-left: 80px;
}

